<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <p>
        Welcome to the Spring MVC Quickstart application!
    </p>

    <table class="table table-bordered" th:if="${users != null}">
        <thead>
        <tr>
            <th th:text="#{msgs.headers.id}">ID</th>
            <th th:text="#{msgs.headers.email}">email</th>
            <th th:text="#{msgs.headers.role}">role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">ID</td>
            <td th:text="${user.email}">email</td>
            <td th:text="${user.role}">role</td>
        </tr>
        </tbody>
    </table>

    <form th:if="${enabled == true}" method="POST" th:action="@{/delete}" th:object="${deleteForm}">
        <div class="form-group">
            <label>Enter the email of an account to delete</label>
            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
</html>