<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>

    <p>
        Welcome to the Spring MVC Quickstart application!
    </p>
    <p>
        <th:block th:if="${accounts != null}">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>EMAIL</th>
                    <th>ROLE</th>
                </tr>
                <tr th:each="account,iterationStatus  : ${accounts}">
                <!--/*@thymesVar id="account" type="org.benji.account.Account"*/-->
                    <td th:text="${account.id}">001</td>
                    <td th:text="${account.email}">email</td>
                    <td th:text="${account.role}">role</td>
                </tr>
            </table>
        </th:block>
    </p>
</div>
</body>
</html>